{% extends 'products/base.html' %}
{% load static %}

{% block title %}
Products
{% endblock %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/product_list.css' %}">
{% endblock %} 

<form method="GET">
    <select name="category" onchange="this.form.submit()">
        <option value="">All Categories</option>

        {% for cat in categories %}
            <option value="{{ cat.id }}"
                {% if request.GET.category == cat.id|stringformat:'s' %}
                    selected
                {% endif %}
            >
                {{ cat.name }}
            </option>
        {% endfor %}
    </select>
</form>

<h1 class="page-title">All Products</h1>

{% if products %}
<div class="product-container">

{% for product in products %}
    <div class="product-card">
        <a href="{% url 'product_detail' product.id %}" style="text-decoration:none; color:black;">

            <img src="{{ product.image.url }}" alt="{{ product.name }}">

            <div class="product-info">
                <h2 class="product-name">{{ product.name }}</h2>

                <p class="product-desc">
                    {{ product.description }}
                </p>

                <p class="product-price">₹ {{ product.price }}</p>
        </a> 
                <button onclick="addToCart('{{ product.id }}')">Add</button>
            </div>

        
    </div>
{% endfor %}

</div>

{% else %}
<p style="text-align:center;">No products available.</p>
{% endif %}

{% endblock %}




{% block extra_js%} 
<script>
function getCSRFToken() {
    let cookies = document.cookie.split(';');

    for (let cookie of cookies) {
        let [name, value] = cookie.trim().split('=');

        if (name === 'csrftoken') {
            return value;
        }
    }
}   

function addToCart(productId) {
    fetch(`/cart/add_to_cart/${productId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCSRFToken(),
            'Content-Type': 'application/json'
        }
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("cart-count").innerText = data.count ;
    });
}
</script>


{% endblock %}