{% extends 'products/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
    </form>
</div>
{% endblock %}
</form>