/* Title */
.page-title {
    text-align: center;
    padding: 20px;
}

/* Grid layout */
.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Card */
.cart-item {
    width: 220px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

/* Hover effect */
.cart-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

/* Image */
.cart-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Content */
.cart-item-info {
    padding: 10px;
}

/* Name */
.product-name {
    font-size: 18px;
    margin: 10px 0;
}

/* Price */
.product-price {
    color: green;
    font-weight: bold;
}

/* Description */
.product-desc {
    font-size: 14px;
    color: gray;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    font-size: 20px;
    background-color: darkgrey;
    height: 30px;
}

.quantity-control a{
    text-decoration: none;
}

.quantity-control p{
    padding:0 10px 0 10px;
}

.place-order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-order button{
    background-color: aqua;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.place-order:hover {
    transform: translateY(-2px);
    
}