/* Full page center */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: #f5f7fa;
}

/* Title */
.register-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* Form box */
.register-container form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Inputs */
.register-container form input {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Button */
.register-container form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;

    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button hover */
.register-container form button:hover {
    background: #45a049;
}