{% extends 'products/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'orders/orders.css' %}">
{% endblock %}

{% block content %}
<div class="orders-container">
        {% if orders %}
            <h1 class="heading">Your Orders</h1>
            {% for order in orders %}
                <a href="{% url 'order_detail' order.id %}" class="orders-list">
                    <p>Order ID :{{ order.id }} || Ordered At :{{ order.created_at }}</p>
                     <div class="items-images">
                        {% for item in order.orderitem_set.all %}
                            <div class="img-box">
                            <img src="{{ item.product.image.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <p> Status :{{ order.status }}  ||  Total Price: ₹ {{ order.total_price }} </p>
                </a>
                  
            {% endfor %}
        {% else %}
            <p>You have no orders.</p>
        {% endif %}
    </div> 
{% endblock %}     
</body>
</html>